.language-dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%; /* Ensure button spans full width of container */
}

.dropdown-flag {
    width: 20px;
    height: 15px;
    margin-right: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px; /* Minimum width for dropdown */
    max-height: 300px; /* Fixed height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.dropdown-content.open {
    display: block;
}

.search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.selected {
    background-color: #e0e0e0;
}

.tick img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}
