.visualizer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: #fff;
}

.language-dropdown-container {
    margin-bottom: 20px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
}

.microphone-icon {
    width: 24px;
    height: 24px;
}

.transcript {
    margin: 20px;
}

.mic-button {
    background-color: #007bff; /* Blue color for the button */
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.mic-button.listening {
    background-color: grey; /* Grey color when listening */
}

.mic-button svg {
    fill: #fff;
}
